<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <style>
        body {
            text-align: center
        }

        .divcss5 {
            margin: 5% auto 0 auto;
        }
    </style>
</head>

<body>

    <form action="/robot" method="POST" class="divcss5">
        <input type="text" name="url" placeholder="输入网址">
        <input type="submit" value="提交">
    </form>

</body>

</html>