<!--<html>-->
<center>
    <div class="w bread">
        <div id="choosebox" class="ellipsis">点击选择图片</div>
        <form class="form-horizontal" id="image_form" action="/imgUpload" method="post" enctype="multipart/form-data">
            <input class="hide" type="file" id="file" name="img" />
            <div class="form-actions">
                <button class="btn" id="upload">上传头像</button>
            </div>
        </form>
    </div>
</center>